@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
*{margin: 0;padding: 0;box-sizing: border-box;}

:root{
    --border-radius: 5px;
    --primary-color: #7c59b0;
    --button-scaling: scale(.95);
    --button-font-color: #ffffff;
    --button-font: 'Metal Mania', cursive;
    --button-background-color: rgba(0, 0, 0, 0.5);
    --button-background-hover-color: rgba(0, 0, 0, 0.7);
}

body {
  background: var(--primary-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%23b8b8b8' fill-opacity='0.4' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
  font-family: 'Poppins', sans-serif;
}
header{
    text-align: center;
}
header .add-bookmark-btn{
    color: var(--button-font-color);
    font-family: var(--button-font);
    padding: 8px 24px;
    display: inline-block;
    text-align: center;
    margin: 8px 16px;
    cursor: pointer;
    user-select: none;
    letter-spacing: 5px;
    transition: all .3s;
    border-radius: var(--border-radius);
    background-color: var(--button-background-color);
}
header .add-bookmark-btn:hover{
    background-color: var(--button-background-hover-color);
}
header .add-bookmark-btn:active{
    transform: var(--button-scaling);
}

.bookmarks {
    display: flex;
    flex-wrap: wrap;
    padding:1rem;
}
.bookmarks .bookmark{
    color: #fff;
    margin: 4px;
    padding: 8px 16px;
    transition: all .3s;
    border-radius: var(--border-radius);
    background-color: var(--button-background-color);
}
.bookmarks .bookmark:hover{
    background-color: var(--button-background-hover-color);
}
.bookmarks .bookmark i{
    float: right;
    cursor: pointer;
}
.bookmarks .bookmark .site{
    margin: 16px 20px 0px 0px;
}
.bookmarks .bookmark img{
    vertical-align: sub;
}
.bookmarks .bookmark a{
    color: var(--button-font-color);
    text-decoration: none;
}
.bookmarks .bookmark a:hover{
    text-decoration: underline;
}


.modal-container{
    position: fixed;
    top: 0;left: 0;right: 0;bottom: 0;
    background-color: var(--button-background-color);
    display: none;
    justify-content: center;
    align-items: center;
}
.show-modal{
    display: flex;
}
.modal-container .modal{
    width: 500px;
    max-width: 95%;
    background-color: whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.show-anime{
    animation: showModal 1s;
}
@keyframes showModal {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}


.close-anime{
    animation: closeModal .5s;
}
@keyframes closeModal {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0);
    }
}
.modal-container .modal .modal-header{
    color: #fff;
    font-family: var(--button-font);
    letter-spacing: 5px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}
.modal-container .modal .modal-header i{
    cursor: pointer;
}
.modal-container .modal .modal-content{
    padding:16px;
}
.modal-container .modal .modal-content .form-group{
    margin-bottom: 8px;
}
.modal-container .modal .modal-content label{
    display: block;
    margin: 0;
    color: var(--primary-color);
}
.modal-container .modal .modal-content input{
    width: 100%;
    padding: 5px;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
}
.modal-container .modal .modal-content .save-btn{
    margin-top: 16px;
}
.modal-container .modal .modal-content .save-btn button{
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 8px 28px;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
}
.modal-container .modal .modal-content .save-btn button:hover{
    filter: brightness(110%);
}
.modal-container .modal .modal-content .save-btn button:active{
    transform: var(--button-scaling);
}
.modal-container .modal .modal-content .save-btn button:focus, .modal-container .modal .modal-content input:focus{
    outline: none;
}




@media screen and (max-width:500px) {
    .bookmarks{
        flex-direction: column;
    }
}